.expense-chart{
    max-width: 55%;
    margin: auto;
    min-height: 22em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    background: var(--dusty-rose);
    color: var(--eggplant);
    font-weight: bold;
}
.expenses-chart__title{
    padding: 0.2em 0.8em;
}
.bar-container{
    display: flex;
    justify-content: space-evenly;
    height: 18em;
    min-width: 100%;
    text-align: center;
    padding: 0 1em;
}
.chart-bar__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.chart-bar{
    background: var(--lion);
    border: 2px solid;
    border-bottom: none;
}