.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
    padding: 0.5rem;
    margin: 1rem 0;
    /* border-radius: 12px; */
    background-color: var(--dusty-rose);
  }
  
  .expense-item__description {
    display: flex;
    align-items: center;
    margin: 1em;
    gap: 1rem;
    flex-flow: column-reverse;
    justify-content: space-between;
    flex: 1;
  }
  
  .expense-item h2 {
    color: #e1d9d9;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
  }

  #expense-item__price-component{
    display: flex;
    flex-direction: column;
   }
  
  .expense-item__price {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    /* min-height: 5.5rem; */
    background-color: var(--lion);
    padding: 0.5rem;
    border-radius: 12px;
    /* box-shadow: 3px 3px 5px -3px #bf3fe1c9; */
    min-width: 6em;
    text-align: center;
  }
  .expense-item__price div, input {
    text-align: center;
    width: 8em;
    background: wheat;
    border: none;
    color: var(--eggplant);
    font-family: 'Noto Sans JP';
    max-height: 2em;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 0;
  }

   .expense-item__price button {
    color: antiquewhite;
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 2em;
  }


  .expense-item__price button:hover{
    filter: brightness(108%);
  }

  @media (min-width: 580px) {
    .expense-item__description {
      flex-direction: row;
      /* justify-content: flex-start; */
      flex: 1;
    }
  
    .expense-item__description h2 {
      font-size: 1.25rem;
    }
  
    .expense-item__price {
      font-size: 1.25rem;
      /* padding: 0.5rem 1.5rem; */
    }
  }