@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color:var(--brown-sugar);
}

/* CSS HEX */
:root{
  --brown-sugar: #b07156ff;
  --china-rose: #ab4e68ff;
  --eggplant: #533745ff;
  --khaki: #9d9171ff;
  --lion: #c4a287ff;
}

