@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0px;
  background-color:var(--brown-sugar);
}

#page-title{
  text-align: center;
  color: var(--brown-sugar);
  background: var(--lion);
  width: 55%;
  margin: 2em auto;
  padding: .2em 0;
}
/* CSS HEX */
:root{
  --brown-sugar: #b07156ff;
  --china-rose: #ab4e68ff;
  --eggplant: #533745ff;
  --khaki: #9d9171ff;
  --lion: #c4a287ff;
}

